html,
body{
    background-color: lightblue;
}
main{
    background-color: white;
    padding: 1em;
}
.post-entry{
    border: 2px solid lightgray;
    border-radius: 5px;
    clear: both;
    overflow: hidden;
    margin: 2em 0;
    padding: 1em;
}